﻿@page
@using XSkills.Web.Models;
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model XSkills.Web.Pages.Account.AdminModel
@{
    int userId = int.Parse(User.Claims.FirstOrDefault(x => x.Type == System.Security.Claims.ClaimTypes.NameIdentifier).Value);
}
@functions
{
    public string GetAdminClass(int level)
    {
        switch (level)
        {
            case 2:
                return "is-danger";
            case 1:
                return "is-warning";
            default:
                return string.Empty;
        }
    }

    public string GetTimeDelta(DateTime skillUpdate)
    {
        var delta = DateTime.Now - skillUpdate;
        if (delta.TotalDays < 30) return $"{delta.Days} days ago";
        if (delta.TotalDays < 365) return $"{delta.Days / 30} months ago";
        return "More than a year ago";
    }
}
<div id="xskills">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item">
                    <h1 class="title">XSkills</h1>
                </a>
                <button class="button navbar-burger" data-target="nav-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
            <div class="navbar-menu" id="nav-menu">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="field is-grouped">
                            <p class="control">
                                <a class="button is-white is-outlined" href="/">
                                    <span class="icon">
                                        <i class="fa fa-arrow-circle-left"></i>
                                    </span>
                                    <span>Home</span>
                                </a>
                            </p>
                            <p class="control">
                                <a href="/Account/Edit" class="button is-white is-outlined">
                                    <span class="icon">
                                        <i class="fa fa-address-card-o"></i>
                                    </span>
                                    <span>Profile</span>
                                </a>
                            </p>
                            <p class="control">
                                <a href="/Account/LogOut" class="button is-white is-outlined">
                                    <span class="icon">
                                        <i class="fa fa-sign-out"></i>
                                    </span>
                                    <span>Log out</span>
                                </a>
                            </p>
                            <div class="control has-icons-right">
                                <input asp-for="Query" class="input" placeholder="Filter by name..." type="text" v-model="query" />
                                <span class="icon is-small is-right">
                                    <i class="fa fa-filter"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-item">
                        <p>Hello, @User.Identity.Name</p>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <section class="section is-fullheight">
        <div class="container is-fullheight scroll-content">
            <h1 class="title">Manage users</h1>
            @if (Model.IsSuccess)
            {
                <div class="notification is-success">Success!</div>
            }

            @if (!string.IsNullOrEmpty(Model.Error))
            {
                <div class="notification is-danger">@Model.Error</div>
            }
            <div class="columns is-multiline">
                @foreach (var user in Model.Users)
                {
                    <div class="column is-6" v-if="matchesQuery('@user.FirstName @user.LastName')">
                        <div class="box">
                            <div class="level is-mobile">
                                <article class="media">
                                    <div class="media-left">
                                        <figure class="image is-64x64">
                                            <img src="@($"data:image/png;base64,{user.Avatar}")" alt="Image" />
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <div class="content">
                                            <p>
                                                <strong>@user.FirstName @user.LastName</strong>
                                                <br /><small>@user.Email</small>
                                                <br /><small>Last update: @(user.LastSkillUpdate == null ? "NEVER" : $"{user.LastSkillUpdate.Value.ToShortDateString()} ({GetTimeDelta(user.LastSkillUpdate.Value)})")</small>
                                            </p>
                                        </div>
                                    </div>
                                </article>
                                <div>
                                    <div class="level field is-grouped">
                                        @if (User.IsInRole(XSkills.Web.MagicStrings.SuperAdmin) && user.Id != userId)
                                        {
                                            <form method="post" asp-page-handler="superAdmin" class="level-item">
                                                <p class="control">
                                                    <input type="hidden" asp-for="UserId" value="@user.Id" />
                                                    <button type="submit" class="button is-white is-outlined">
                                                        <span class="icon"><i class="fa fa-star"></i></span>
                                                    </button>
                                                </p>
                                            </form>
                                        }
                                        <form method="post" asp-page-handler="admin" class="level-item">
                                            <p class="control">
                                                <input type="hidden" asp-for="UserId" value="@user.Id" />
                                                <button type="submit" class="button is-white is-outlined @{ Write(GetAdminClass(user.AdminLevel)); }">
                                                    @if (user.AdminLevel > 0)
                                                    {
                                                        <span class="icon"><i class="fa fa-toggle-on"></i></span>
                                                    }
                                                    else
                                                    {
                                                        <span class="icon"><i class="fa fa-toggle-off"></i></span>
                                                    }
                                                </button>
                                            </p>
                                        </form>
                                        <form method="post" asp-page-handler="remove" id="delete-@user.Id" class="level-item">
                                            <p class="control">
                                                <input type="hidden" asp-for="UserId" value="@user.Id" />
                                                <a v-on:click="confirmDelete('@user.FirstName @user.LastName', @user.Id)" class="button is-white is-outlined">
                                                    <span class="icon"><i class="fa fa-user-times"></i></span>
                                                </a>
                                            </p>
                                        </form>
                                    </div>
                                    <p class="control">
                                        <div class="select">
                                            <select id="status-@user.Id" v-on:change="setAssignmentStatus(@user.Id)">
                                                <option value="0" selected="@(AssignmentStatus.Unknown == user.AssignmentStatus)">Unknown</option>
                                                <option value="1" selected="@(AssignmentStatus.Unassigned == user.AssignmentStatus)">Unassigned</option>
                                                <option value="2" selected="@(AssignmentStatus.Internal == user.AssignmentStatus)">Internal</option>
                                                <option value="3" selected="@(AssignmentStatus.CommercialNotMonetized == user.AssignmentStatus)">Commercial (not monetized)</option>
                                                <option value="4" selected="@(AssignmentStatus.Commercial == user.AssignmentStatus)">Commercial</option>
                                            </select>
                                        </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="modal is-active" v-if="showDeletePopup">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Confirm user deletion</p>
                    <button class="delete" aria-label="close" v-on:click="hidePopup()"></button>
                </header>
                <section class="modal-card-body">
                    <p>Are you sure to delete {{name}}?</p>
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-success" v-on:click="deleteUser(id)">Delete</button>
                    <button class="button" v-on:click="hidePopup()">Close</button>
                </footer>
            </div>
        </div>
    </section>
    @Html.Partial("~/Components/Footer.cshtml")
</div>
<script type="text/javascript">
    var vue = new Vue({
        el: '#xskills',
        data: {
            query: '@Model.Query',
            showDeletePopup: false,
            name: '',
            id: 0
        },
        methods: {
            matchesQuery: function (name) {
                return name.toLowerCase().indexOf(this.query.toLowerCase()) !== -1;
            },
            confirmDelete: function (name, id) {
                this.id = id;
                this.name = name;
                this.showDeletePopup = true;
            },
            deleteUser: function () {
                var form = document.getElementById('delete-' + this.id);
                form.submit();
                this.hidePopup();
            },
            hidePopup: function () {
                this.showDeletePopup = false;
                this.id = 0;
                this.name = '';
            },
            setAssignmentStatus: function (id) {
                var elem = document.getElementById('status-' + id);
                var value = elem.value;
                elem.parentElement.setAttribute('class', 'select');
                fetch('/api/Employees/SetAssignmentStatus?id=' + id + '&assignmentStatus=' + value, {
                    method: 'GET', credentials: 'include'
                }).then(r => {
                    if (r.ok) elem.parentElement.setAttribute('class', 'select is-success');
                    else elem.parentElement.setAttribute('class', 'select is-danger');
                });
            }
        }
    });
</script>