﻿@page
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model XSkills.Web.Pages.Account.ForgotPasswordModel
<div id="xskills">
    <section class="section">
        <div class="container is-fullheight vertical-center">
            <div class="columns is-centered is-fullheight">
                <div class="column is-6 is-fullheight vertical-center">
                    <div>
                        <h1 class="title">XSkills - forgot password</h1>
                        <form method="post">
                            <div class="field has-addons">
                                <p class="control">
                                    <a class="button is-white is-outlined login-tag">Email</a>
                                </p>
                                <div class="control is-fullwidth">
                                    <input class="input" type="text" asp-for="Form.Email">
                                </div>
                            </div>
                            @foreach (var err in Model.Form.Errors)
                            {
                                <div class="notification is-danger">@err</div>
                            }
                            @if (Model.Form.IsSuccess)
                            {
                                <div class="notification is-success">Password reset link was sent to the provided email if it exists in the database.</div>
                            }
                            <input type="submit" class="button is-white is-outlined is-fullwidth" value="Reset password" />
                        </form>
                        <p>
                            <a href="~/Account/LogIn">Back to login page</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @Html.Partial("~/Components/Footer.cshtml")
</div>