﻿@page
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model XSkills.Web.Pages.Account.LogInModel
<div id="xskills">
    <section class="section">
        <div class="container is-fullheight vertical-center">
            <div class="columns is-centered is-fullheight">
                <div class="column is-6 is-fullheight vertical-center">
                    <div>
                        <h1 class="title">XSkills - log in</h1>
                        <form method="post">
                            <div class="field has-addons">
                                <p class="control">
                                    <a class="button is-white is-outlined login-tag">Email</a>
                                </p>
                                <div class="control is-fullwidth">
                                    <input class="input" type="text" asp-for="Form.Email" value="@Model.Form.Email">
                                </div>
                            </div>
                            <div class="field has-addons">
                                <p class="control">
                                    <a class="button is-white is-outlined login-tag">Password</a>
                                </p>
                                <div class="control is-fullwidth">
                                    <input class="input" type="password" asp-for="Form.Password">
                                </div>
                            </div>
                            @foreach (var err in Model.Form.Errors)
                            {
                                <div class="notification is-danger">@err</div>
                            }
                            <input type="submit" class="button is-white is-outlined is-fullwidth" value="Log in" />
                        </form>
                        <p>
                            Forgot password? <a href="/Account/ForgotPassword">Reset it</a>. Don't have an account? <a href="/Account/SignUp">Sign up</a>.
                            @if (Model.RequireConfirmedEmail)
                            {
                                Write("No activation link? ");
                                <a href="/Account/ResendActivationLink">Resend it</a>
                                Write(".");
                            }
                        </p>
                        @if (Model.ExternalLogins.Count() > 0)
                        {
                            <p>Or log in with:</p>
                            <form method="post" asp-page-handler="external">
                                @foreach (var login in Model.ExternalLogins)
                                {
                                    <button type="submit" class="button is-white is-outlined" name="provider" value="@login.Name" title="Log in using your @login.DisplayName account">
                                        <span class="icon is-small"><i class="fa fa-google"></i></span>
                                    </button>
                                }
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    @Html.Partial("~/Components/Footer.cshtml")
</div>