﻿@page
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model XSkills.Web.Pages.Account.ResetPasswordModel
<div id="xskills">
    <section class="section">
        <div class="container is-fullheight vertical-center">
            <div class="columns is-centered is-fullheight">
                <div class="column is-6 is-fullheight vertical-center">
                    <div>
                        <h1 class="title">XSkills - forgot password</h1>
                        <form method="post">
                            <div class="field has-addons">
                                <p class="control">
                                    <a class="button is-white is-outlined login-tag">Password</a>
                                </p>
                                <div class="control is-fullwidth">
                                    <input class="input" type="password" asp-for="Form.Password">
                                </div>
                            </div>
                            <div class="field has-addons">
                                <p class="control">
                                    <a class="button is-white is-outlined login-tag">...and again</a>
                                </p>
                                <div class="control is-fullwidth">
                                    <input class="input" type="password" asp-for="Form.ConfirmPassword">
                                </div>
                            </div>
                            <input class="input" type="hidden" asp-for="Form.Email" value="@Model.Form.Email">
                            <input class="input" type="hidden" asp-for="Form.Token" value="@Model.Form.Token">
                            @foreach (var err in Model.Form.Errors)
                            {
                                <div class="notification is-danger">@err</div>
                            }
                            @if(Model.Form.IsSuccess)
                            {
                                <div class="notification is-success">Your password has been changed, you can now <a href="/Account/LogIn">log in</a>.</div>
                            }
                            <input type="submit" class="button is-white is-outlined is-fullwidth" value="Reset password" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @Html.Partial("~/Components/Footer.cshtml")
</div>