﻿@{
    string employeeId = User.Claims.First(x => x.Type == "employeeId").Value;
}
<script type="text/x-template" id="xskills-editemployee-template">
    <section class="section is-fullheight" id="xskills-editemployee">
        <div class="container is-fullheight">
            <div class="columns is-fullheight">
                <div class="column is-12 is-hidden-tablet">
                    <div class="level is-mobile">
                        <div>
                            <h1 class="title">{{selectedSkillGroup.name}}</h1>
                        </div>
                        <div>
                            <a class="button is-white is-outlined" v-on:click="hideMenu = !hideMenu">
                                <span class="icon"><i class="fa fa-wrench"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="column is-3" v-bind:class="{ 'is-hidden-mobile': hideMenu }">
                    <h1 class="title">{{employee.firstName}} {{employee.lastName}}</h1>
                    <a v-bind:href="'/Profile/' + employee.userId">Full profile</a>
                    <div class="field">
                        <label class="label">Skill group</label>
                        <div class="control">
                            <div class="select is-fullwidth">
                                <select v-model="selectedSkillGroup">
                                    <option v-for="sg in skillGroups" v-bind:value="sg">{{sg.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div v-if="employee.id === @employeeId">
                        <h2 class="subtitle">Add or edit</h2>
                        <div class="field">
                            <label class="label">Skill</label>
                            <div class="control">
                                <div class="select is-fullwidth">
                                    <select v-model="selectedSkill">
                                        <option v-for="s in skills" v-bind:value="s" v-if="(!employeeHasSkill(s) || current.skill && s.id === current.skill.id) && (selectedSkillGroup.id === 0 || selectedSkillGroup.id === s.skillGroupId)">{{s.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Years of experience</label>
                            <div class="control">
                                <input class="input" type="number" v-model="yearsOfExperience" />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Proficiency level</label>
                            <div class="control">
                                <input class="input" type="number" v-model="proficiencyLevel" />
                            </div>
                        </div>
                        <div class="field has-addons is-fullwidth is-hidden-tablet-only">
                            <div class="control is-fullwidth">
                                <a class="button is-fullwidth" v-on:click="add()">
                                    <span class="icon">
                                        <i class="fa fa-plus"></i>
                                    </span>
                                    <span>Add</span>
                                </a>
                            </div>
                            <div class="control is-fullwidth">
                                <a class="button is-fullwidth" v-on:click="update()">
                                    <span class="icon">
                                        <i class="fa fa-save"></i>
                                    </span>
                                    <span>Update</span>
                                </a>
                            </div>
                        </div>
                        <div class="field has-addons is-fullwidth is-hidden-mobile is-hidden-desktop">
                            <div class="control is-fullwidth">
                                <a class="button is-fullwidth" v-on:click="add()">
                                    <span class="icon">
                                        <i class="fa fa-plus"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="control is-fullwidth">
                                <a class="button is-fullwidth" v-on:click="update()">
                                    <span class="icon">
                                        <i class="fa fa-save"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h2 class="subtitle">Sort by</h2>
                        <div class="level is-mobile">
                            <div>
                                <label class="label">Name</label>
                                <div class="field is-grouped">
                                    <p class="control">
                                        <a class="button is-white is-outlined" v-on:click="sortByName(1)">
                                            <span class="icon"><i class="fa fa-sort-alpha-asc"></i></span>
                                        </a>
                                    </p>
                                    <p class="control">
                                        <a class="button is-white is-outlined" v-on:click="sortByName(-1)">
                                            <span class="icon"><i class="fa fa-sort-alpha-desc"></i></span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <div>
                                <label class="label">Experience</label>
                                <div class="field is-grouped">
                                    <p class="control">
                                        <a class="button is-white is-outlined" v-on:click="sortByNumber(1, s => s.yearsOfExperience)">
                                            <span class="icon"><i class="fa fa-sort-numeric-asc"></i></span>
                                        </a>
                                    </p>
                                    <p class="control">
                                        <a class="button is-white is-outlined" v-on:click="sortByNumber(-1, s => s.yearsOfExperience)">
                                            <span class="icon"><i class="fa fa-sort-numeric-desc"></i></span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <div>
                                <label class="label">Proficiency</label>
                                <div class="field is-grouped">
                                    <p class="control">
                                        <a class="button is-white is-outlined" v-on:click="sortByNumber(1, s => s.proficiencyLevel)">
                                            <span class="icon"><i class="fa fa-sort-numeric-asc"></i></span>
                                        </a>
                                    </p>
                                    <p class="control">
                                        <a class="button is-white is-outlined" v-on:click="sortByNumber(-1, s => s.proficiencyLevel)">
                                            <span class="icon"><i class="fa fa-sort-numeric-desc"></i></span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-bind:class="{ 'notification is-danger': employee.isStale }" v-if="employee.lastSkillUpdateTime">Last skill update: {{employee.lastSkillUpdateTime}}</div>
                    <div class="notification is-danger is-fullwidth" v-for="e in errors">{{e}}</div>
                    <div class="notification is-success" v-if="successMessage">{{successMessage}}</div>
                </div>
                <div class="column is-9 is-fullheight">
                    <h1 class="title is-hidden-mobile">{{selectedSkillGroup.name}}</h1>
                    <div class="is-fullheight scroll-content">
                        <div class="columns is-multiline">
                            <div class="column is-half" v-for="s in sortedSkills" v-if="selectedSkillGroup.id === 0 || selectedSkillGroup.id === s.skill.skillGroupId">
                                <div class="box">
                                    <div class="level is-mobile">
                                        <div>
                                            <span class="icon">
                                                <i class="fa" v-bind:class="{ 'fa-thermometer-0': s.skill.relevance === 0, 'fa-thermometer-2': s.skill.relevance === 1, 'fa-thermometer-4': s.skill.relevance === 2 }"></i>
                                            </span>
                                            <span>{{s.skill.name}}</span>
                                        </div>
                                        <div class="field is-grouped">
                                            <p class="control">
                                                <a class="button is-white is-outlined" v-on:click="showHistory(s)">
                                                    <span class="icon"><i class="fa fa-history"></i></span>
                                                </a>
                                            </p>
                                            <p class="control" v-if="employee.id === @employeeId">
                                                <a class="button is-white is-outlined" v-on:click="select(s)" v-bind:class="{ 'is-success': current.id === s.id }">
                                                    <span class="icon"><i class="fa fa-pencil"></i></span>
                                                </a>
                                            </p>
                                            <p class="control" v-if="employee.id === @employeeId">
                                                <a class="button is-white is-outlined" v-on:click="skillToDelete = s">
                                                    <span class="icon"><i class="fa fa-trash"></i></span>
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="tags">
                                        <span class="tag">Experience: {{s.yearsOfExperience}} {{s.yearsOfExperience > 1 ? 'years' : 'year'}}</span>
                                        <span class="tag">Proficiency: {{s.proficiencyLevel}}</span>
                                        <span class="tag">{{s.skill.skillGroup.name}}</span>
                                        <span class="tag" v-on:click="s.showTags = !s.showTags" v-bind:class="{'is-success': s.showTags}">{{ s.showTags ? 'Hide' : 'Show' }} tags</span>
                                    </div>
                                    <div class="tags" style="margin-top: 10px;">
                                        <span class="tag" v-if="s.showTags" v-for="st of s.skill.tagToSkills">{{st.tag.name}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal is-active" v-if="history">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Skill history for {{historyName}}</p>
                    <button class="delete" aria-label="close" v-on:click="history = null"></button>
                </header>
                <section class="modal-card-body">
                    <div class="notification" v-for="h in history">
                        <strong>{{h.date}}</strong>
                        <p v-if="h.oldYearsOfExperience != null && h.newYearsOfExperience !== h.oldYearsOfExperience">
                            Years of experience: <span class="tag is-black">{{h.oldYearsOfExperience}}</span><span class="icon is-small"><i class="fa fa-arrow-right"></i></span><span class="tag is-black">{{h.newYearsOfExperience}}</span>
                        </p>
                        <p v-if="h.oldProficiencyLevel != null && h.newProficiencyLevel !== h.oldProficiencyLevel">
                            Proficiency level: <span class="tag is-black">{{h.oldProficiencyLevel}}</span><span class="icon is-small"><i class="fa fa-arrow-right"></i></span><span class="tag is-black">{{h.newProficiencyLevel}}</span>
                        </p>
                        <p v-if="h.oldYearsOfExperience == null && h.oldProficiencyLevel == null">Created with <span class="tag is-black">{{h.newYearsOfExperience}}</span> years of experience and proficiency level <span class="tag is-black">{{h.newProficiencyLevel}}</span></p>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button class="button" v-on:click="history = null">Close</button>
                </footer>
            </div>
        </div>
        <div class="modal is-active" v-if="skillToDelete">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Confirm skill deletion</p>
                    <button class="delete" aria-label="close" v-on:click="skillToDelete = null"></button>
                </header>
                <section class="modal-card-body">
                    <p>Are you sure to delete <span class="tag is-medium">{{skillToDelete.skill.name}}</span>?</p>
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-success" v-on:click="remove(skillToDelete.id); skillToDelete = null">Delete</button>
                    <button class="button" v-on:click="skillToDelete = null">Close</button>
                </footer>
            </div>
        </div>
    </section>
</script>
<script type="text/javascript" src="~/js/editEmployee.js"></script>