﻿<footer class="has-text-centered">
    <p>Made with 🔥 in <a href="https://dot.net/core" target="_blank">ASP.NET Core 2.0</a>, <a href="http://bulma.io" target="_blank">Bulma</a> (<a href="https://jenil.github.io/bulmaswatch/" target="_blank">themed</a>) and <a href="https://vuejs.org" target="_blank">Vue.js</a> by <a href="https://gitlab.com/Velorien_/XSkills" target="_blank">Velorien</a>.</p>
</footer>