﻿@{
    bool canEdit = User.IsInRole("admin") || User.IsInRole("superadmin");
}

<script type="text/x-template" id="xskills-manage-template">
    <section class="section is-fullheight" id="xskills-manage">
        <div class="container is-fullheight">
            <div class="is-fullheight has-text-centered vertical-center" v-if="loaded < 3">
                <p><i class="fa fa-cog fa-spin fa-5x fa-fw"></i></p>
            </div>
            <div class="columns is-fullheight" v-if="loaded === 3">
                <div class="column is-12 is-hidden-tablet">
                    <div class="level is-mobile">
                        <div>
                            <h1 class="title">{{currentCategory.name}}</h1>
                        </div>
                        <div>
                            <a class="button is-white is-outlined" v-on:click="hideMenu = !hideMenu">
                                <span class="icon"><i class="fa fa-wrench"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="column is-3" v-bind:class="{ 'is-hidden-mobile': hideMenu }">
                    <h2 class="subtitle">Select category</h2>
                    <div class="field">
                        <div class="control">
                            <div class="select is-fullwidth">
                                <select v-model="currentCategory">
                                    <option v-for="c in categories" v-bind:value="c">{{c.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    @if (canEdit)
                    {
                        <h2 class="subtitle">Add or edit</h2>
                        <div class="field">
                            <label class="label">Name</label>
                            <div class="control">
                                <input class="input" v-model="current.name" />
                            </div>
                        </div>
                        <div class="field" v-if="currentCategory.route === category.skills">
                            <label class="label">Skill group</label>
                            <div class="control">
                                <div class="select is-fullwidth">
                                    <select v-model="selectedSkillGroup">
                                        <option v-for="sg in skillGroups" v-bind:value="sg">{{sg.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="field" v-if="currentCategory.route === category.skills">
                            <label class="label">Relevance</label>
                            <div class="control">
                                <div class="select is-fullwidth">
                                    <select v-model="selectedRelevance">
                                        <option v-for="r in relevance" v-bind:value="r.value">{{r.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="field" v-if="currentCategory.route === category.skills && current.id">
                            <label class="label">Skill tags</label>
                            <div class="control">
                                <input class="input" type="text" v-model="tagQuery">
                            </div>
                        </div>
                        <div class="tags" v-if="currentCategory.route === category.skills && tagsFiltered.length > 0 && current.id">
                            <span class="tag" v-for="st in tagsFiltered" v-on:click="tag(st)">{{st.name}}</span>
                        </div>
                        <div class="field has-addons is-fullwidth is-hidden-tablet-only">
                            <div class="control is-fullwidth">
                                <a class="button is-fullwidth" v-on:click="add()">
                                    <span class="icon">
                                        <i class="fa fa-plus"></i>
                                    </span>
                                    <span>Add</span>
                                </a>
                            </div>
                            <div class="control is-fullwidth">
                                <a class="button is-fullwidth" v-on:click="update()">
                                    <span class="icon">
                                        <i class="fa fa-save"></i>
                                    </span>
                                    <span>Update</span>
                                </a>
                            </div>
                        </div>
                        <div class="field has-addons is-fullwidth is-hidden-mobile is-hidden-desktop">
                            <div class="control is-fullwidth">
                                <a class="button is-fullwidth" v-on:click="add()">
                                    <span class="icon">
                                        <i class="fa fa-plus"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="control is-fullwidth">
                                <a class="button is-fullwidth" v-on:click="update()">
                                    <span class="icon">
                                        <i class="fa fa-save"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control has-icons-right">
                                <input class="input" placeholder="Filter by name..." type="text" v-model="query" />
                                <span class="icon is-small is-right">
                                    <i class="fa fa-filter"></i>
                                </span>
                            </div>
                        </div>
                        <div class="notification is-danger is-fullwidth" v-for="e in errors">{{e}}</div>
                        <div class="notification is-success" v-if="successMessage">{{successMessage}}</div>
                    }
                </div>
                <div class="column is-9 is-fullheight">
                    <h1 class="title is-hidden-mobile">{{currentCategory.name}}</h1>
                    <div class="is-fullheight scroll-content">
                        <div class="tags" v-if="currentCategory.route === category.tags">
                            <span class="tag is-rounded is-large" v-bind:class="{ 'is-success': st.id === current.id }" v-if="matchesQuery(st)" v-for="st in tags" v-on:click="select(st)">{{st.name}} @if (canEdit)
                            {<button class="delete" v-on:click="itemToDelete = st"></button>}</span>
                        </div>
                        <div class="columns is-multiline" v-if="currentCategory.route === category.skillGroups">
                            <div class="column is-half" v-for="sg in skillGroups" v-if="matchesQuery(sg) &&  sg.id != 1">
                                <div class="box level is-mobile">
                                    <span>{{sg.name}}</span>
                                    @if (canEdit)
                                    {
                                        <div class="field is-grouped">
                                            <p class="control">
                                                <a class="button is-white is-outlined" v-on:click="select(sg)" v-bind:class="{ 'is-success': current.id === sg.id }">
                                                    <span class="icon"><i class="fa fa-pencil"></i></span>
                                                </a>
                                            </p>
                                            <p class="control">
                                                <a class="button is-white is-outlined" v-on:click="itemToDelete = sg">
                                                    <span class="icon"><i class="fa fa-trash"></i></span>
                                                </a>
                                            </p>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="columns is-multiline" v-if="currentCategory.route === category.skills">
                            <div class="column is-half" v-for="s in skills" v-if="matchesQuery(s)">
                                <div class="box">
                                    <div class="level is-mobile">
                                        <div>
                                            <span class="icon">
                                                <i class="fa" v-bind:class="{ 'fa-thermometer-0': s.relevance === 0, 'fa-thermometer-2': s.relevance === 1, 'fa-thermometer-4': s.relevance === 2 }"></i>
                                            </span>
                                            <span>{{s.name}}</span>
                                        </div>
                                        <div class="field is-grouped">
                                            <p class="control" v-if="!s.isOwned">
                                                <a class="button is-white is-outlined" v-on:click="addSkill(s)">
                                                    <span class="icon"><i class="fa fa-plus"></i></span>
                                                </a>
                                            </p>
                                            @if (canEdit)
                                            {
                                                <p class="control">
                                                    <a class="button is-white is-outlined" v-on:click="select(s)" v-bind:class="{ 'is-success': current.id === s.id }">
                                                        <span class="icon"><i class="fa fa-pencil"></i></span>
                                                    </a>
                                                </p>
                                                <p class="control">
                                                    <a class="button is-white is-outlined" v-on:click="itemToDelete = s">
                                                        <span class="icon"><i class="fa fa-trash"></i></span>
                                                    </a>
                                                </p>
                                            }
                                        </div>
                                    </div>
                                    <p class="tag is-fullwidth">{{s.skillGroup.name}}</p>
                                    <div class="tags" style="margin-top: 10px;">
                                        <span class="tag" v-for="st in s.tagToSkills">
                                            {{st.tag.name}}
                                            @if (canEdit)
                                            {
                                                <button class="delete" v-on:click="untag(st)"></button>
                                            }
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal is-active" v-if="itemToDelete">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Confirm {{currentCategory.nameSingular}} deletion</p>
                    <button class="delete" aria-label="close" v-on:click="itemToDelete = null"></button>
                </header>
                <section class="modal-card-body">
                    <p>Are you sure to delete <span class="tag is-medium">{{itemToDelete.name}}</span>?</p>
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-success" v-on:click="remove(itemToDelete.id); itemToDelete = null">Delete</button>
                    <button class="button" v-on:click="itemToDelete = null">Close</button>
                </footer>
            </div>
        </div>
    </section>
</script>
<script>
    var employeeId = @User.Claims.First(x => x.Type == "employeeId").Value;
</script>
<script type="text/javascript" src="~/js/manage.js"></script>