﻿<script type="text/x-template" id="xskills-search-template">
    <section class="section" id="xskills-search">
        <div class="container is-fullheight">
            <div class="columns is-fullheight">
                <div class="column is-3">
                    <h2 class="subtitle">Let's start, shall we?</h2>
                    <div class="field">
                        <div class="control">
                            <input class="input is-primary" type="text" placeholder=">> name" v-model="name" />
                        </div>
                    </div>
                    <h2 class="subtitle" v-if="projects.length > 0">Projects</h2>
                    <ul>
                        <li v-for="p in projects">
                            <a v-bind:href="'/Project/' + p.id" target="_blank">{{p.name}}</a>
                        </li>
                    </ul>
                </div>
                <div class="column is-9 is-fullheight">
                    <div class="has-text-centered vertical-center is-fullheight" v-if="currentState === displayState.intro">
                        <h1 class="title">Welcome to XSkills</h1>
                        <p>Type something in the search box and results will appear here.</p>
                    </div>
                    <div class="is-fullheight has-text-centered vertical-center" v-if="currentState === displayState.loading">
                        <p><i class="fa fa-cog fa-spin fa-5x fa-fw"></i></p>
                    </div>
                    <div class="is-fullheight vertical-center has-text-centered" v-if="currentState === displayState.noResults">
                        <h1 class="title">There's nobody matching your query</h1>
                        <p>Try again later or have them <a href="/Account/SignUp">sign up</a>.</p>
                    </div>
                    <div class="search-results is-fullheight" v-if="currentState === displayState.search">
                        <div class="columns is-multiline">
                            <div class="column is-6" v-for="emp in employees" v-on:click="selectEmployee(emp.id)">
                                <div class="box">
                                    <article class="media">
                                        <div class="media-left">
                                            <figure class="image is-64x64">
                                                <img v-bind:src="'data:image/png;base64,' + emp.avatar" alt="Image"/>
                                            </figure>
                                        </div>
                                        <div class="media-content">
                                            <div class="content">
                                                <p>
                                                    <strong>{{emp.firstName}} {{emp.lastName}}</strong>
                                                    <br /><small>{{emp.email}}</small>
                                                </p>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</script>
<script type="text/javascript" src="~/js/search.js"></script>