﻿@page
@model XSkills.Web.Pages.AnalyticsModel
@using XSkills.Web.Services
@using XSkills.Web.Models
@using XSkills.Web.Helpers
@inject XSkills.Web.XSkillsDbContext db
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@section headAddons {
    <link rel="stylesheet" href="~/css/chartist.min.css">
    <script src="~/js/chartist.min.js"></script>
}
@functions {
string DisplayTypeToIcon(DisplayType displayType)
{
    switch (displayType)
    {
        case DisplayType.BarChart:
            return "📊";
        case DisplayType.PieChart:
            return "🔵";
        default:
            return "📜";
    }
}

string GetAssignmentStatus(AssignmentStatus status)
{
    switch (status)
    {
        case AssignmentStatus.CommercialNotMonetized:
            return "Commercial (not monetized)";
        default:
            return status.ToString();
    }
}
}
@{
    string join = "', '";
    string display = Model.Employees == null ? "reports" : "competences";
    var selectedSkills = Model.SelectedSkills?.Split(",", StringSplitOptions.RemoveEmptyEntries).Select(x => int.Parse(x)).ToArray() ?? new int[0];
}

<div id="xskills">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item">
                    <h1 class="title">XSkills</h1>
                </a>
                <button class="button navbar-burger" data-target="nav-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
            <div class="navbar-menu" id="nav-menu">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="field is-grouped">
                            <p class="control">
                                <a class="button is-white is-outlined" href="/">
                                    <span class="icon">
                                        <i class="fa fa-arrow-circle-left"></i>
                                    </span>
                                    <span>Home</span>
                                </a>
                            </p>
                            <p class="control">
                                <button class="button is-white" v-bind:class="{ 'is-outlined': display !== displayStates.reports }" v-on:click="display = displayStates.reports">
                                    Show reports
                                </button>
                            </p>
                            <p class="control">
                                <button class="button is-white" v-bind:class="{ 'is-outlined': display !== displayStates.userProfiles }" v-on:click="display = displayStates.userProfiles">
                                    Show user profiles
                                </button>
                            </p>
                            <p class="control">
                                <button class="button is-white" v-bind:class="{ 'is-outlined': display !== displayStates.competences }" v-on:click="display = displayStates.competences">
                                    Competence search
                                </button>
                            </p>
                            <p class="control">
                                <a href="/Account/LogOut" class="button is-white is-outlined">
                                    <span class="icon">
                                        <i class="fa fa-sign-out"></i>
                                    </span>
                                    <span>Log out</span>
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="navbar-item">
                        <p>Hello, @User.Identity.Name</p>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <section class="section is-fullheight">
        <div class="container is-fullheight">
            <div class="columns is-fullheight is-multiline">
                <div class="column is-3" v-if="display === displayStates.reports">
                    <h2 class="subtitle">Select report</h2>
                    <form method="post" asp-page-handler="Analytics">
                        <div class="field">
                            <div class="control">
                                <div class="select is-fullwidth">
                                    <select asp-for="SelectedAnalytics">
                                        @foreach (var analytics in Model.AnalyticsTypes)
                                        {
                                            <option value="@analytics.Name">@DisplayTypeToIcon(analytics.DisplayType) @analytics.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="button is-white is-outlined is-fullwidth">Show</button>
                    </form>
                    @if (Model.DataSingle != null || Model.DataCollection != null)
                    {
                        <div class="field" style="margin-top: 15px;">
                            <div class="control has-icons-right">
                                <input class="input" type="text" v-model="query" placeholder="Filter by key...">
                                <span class="icon is-small is-right">
                                    <i class="fa fa-filter"></i>
                                </span>
                            </div>
                        </div>
                    }
                </div>
                <div class="column is-9 is-fullheight scroll-content" v-if="display === displayStates.reports">
                    @if (Model.DataSingle?.Any() ?? false)
                    {
                        switch (Model.Analytics.DisplayType)
                        {
                            case DisplayType.BarChart:
                                double max = Model.DataSingle.Values.Select(x => double.Parse(x)).Max();
                                foreach (var item in Model.DataSingle)
                                {
                                    <div v-if="matchesQuery('@item.Key')">
                                        <h2 class="subtitle">@item.Key</h2>
                                        <div style="background-color: #D70206; height: 30px; width:@(double.Parse(item.Value) * 100 / max)%">
                                            <span style="padding-left: 10px;">@item.Value</span>
                                        </div>
                                    </div>
                                }
                                break;
                            case DisplayType.PieChart:
                                <div id="chart" class="ct-chart ct-golden-section"></div>
                                break;
                            case DisplayType.List:
                                foreach (var item in Model.DataSingle)
                                {
                                    <div class="level is-mobile">
                                        <h2 class="subtitle">@item.Key</h2>
                                        <span class="tag is-medium">@item.Value</span>
                                    </div>
                                }
                                break;
                        }
                    }
                    else if (Model.DataCollection != null)
                    {
                        <div class="columns is-multiline">
                            @foreach (var item in Model.DataCollection.Select((value, i) => new { i, value }))
                            {
                                <div class="column is-6" v-bind:style="{ 'display': matchesQuery('@item.value.Key') ? '' : 'none' }">
                                    @switch (Model.Analytics.DisplayType)
                                    {
                                        case DisplayType.PieChart:
                                            <h2 class="subtitle">@item.value.Key</h2>
                                            <div id="chart-@item.i" class="ct-chart ct-golden-section"></div>
                                            break;
                                        case DisplayType.List:
                                            <h2 class="subtitle">@item.value.Key</h2>
                                            <div class="tags">
                                                @foreach (var subItem in item.value.Value)
                                                {
                                                    <span class="tag is-medium">@subItem</span>
                                                }
                                            </div>
                                            break;
                                    }
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <h2 class="subtitle">There's nothing to show.</h2>
                    }
                </div>
                <div class="column is-3" v-if="display === displayStates.userProfiles">
                    <h2 class="subtitle">Find users</h2>
                    <div class="field">
                        <div class="control has-icons-right">
                            <input class="input" type="text" v-model="userQuery" placeholder=">> name">
                            <span class="icon is-small is-right">
                                <i class="fa fa-filter"></i>
                            </span>
                        </div>
                    </div>
                    <form method="get" action="UserReport">
                        <input type="hidden" name="userIds" v-model="ids" />
                        <button style="margin-bottom: 15px;" v-if="selectedEmployees.length" type="submit" class="button is-white is-outlined is-fullwidth">Generate report</button>
                    </form>
                    <h2 class="subtitle" v-if="employees.length > 0">Results</h2>
                    <div class="scroll-content" style="height: 400px;">
                        <div class="box" v-for="e in employees" v-if="!employeeIsSelected(e.userId)" v-on:click="selectEmployee(e)">
                            <strong>{{e.firstName}} {{e.lastName}}</strong>
                            <em>{{e.email}}</em>
                        </div>
                    </div>
                </div>
                <div class="column is-9 is-fullheight scroll-content" v-if="display === displayStates.userProfiles">
                    <div class="columns is-multiline">
                        <div class="column is-6" v-for="emp in selectedEmployees" v-on:click="deselectEmployee(emp)">
                            <div class="box">
                                <article class="media">
                                    <div class="media-left">
                                        <figure class="image is-64x64">
                                            <img v-bind:src="'data:image/png;base64,' + emp.avatar" alt="Image" />
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <div class="content">
                                            <p>
                                                <strong>{{emp.firstName}} {{emp.lastName}}</strong>
                                                <br /><small>{{emp.email}}</small>
                                            </p>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-3" v-if="display === displayStates.competences">
                    <h2 class="subtitle">Competence search</h2>
                    <form method="post" asp-page-handler="Competences">
                        <div class="field">
                            <div class="control">
                                <label asp-for="SelectedSkills">Search skills</label>
                                <input type="text" class="input" v-model="skillQuery" autocomplete="off" />
                                <input type="hidden" v-model="selectedSkillIds" asp-for="SelectedSkills" />
                            </div>
                        </div>
                        <div class="tags">
                            <span class="tag is-medium" v-for="s in skills" v-if="skillQuery && s.name.toLowerCase().indexOf(skillQuery.toLowerCase()) > -1 && selectedSkills.indexOf(s) === -1" v-on:click="selectSkill(s)">{{s.name}}</span>
                        </div>
                        <h2 class="subtitle" v-if="selectedSkills.length > 0">Selected skills</h2>
                        <div class="tags">
                            <span class="tag is-medium" v-for="s in selectedSkills" v-on:click="deselectSkill(s)">{{s.name}}</span>
                        </div>
                        <div class="field">
                            <div class="control">
                                <label asp-for="SelectedLevel">Select min level</label>
                                <div class="select is-fullwidth">
                                    <select asp-for="SelectedLevel">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="button is-white is-outlined is-fullwidth">Show</button>
                    </form>
                </div>
                <div class="column is-9 scroll-content is-fullheight" v-if="display === displayStates.competences">
                    @if (Model.Employees?.Any() ?? false)
                    {
                        @foreach (var group in Model.Employees)
                        {
                            <h1 class="title">@GetAssignmentStatus(group.Key)</h1>
                            <div class="columns is-multiline">
                                @foreach (var item in group.Value.OrderByDescending(x => x.Skills.Count).ThenByDescending(x => x.Skills.Sum(y => y.ProficiencyLevel)))
                                {
                                <div class="column is-6">
                                    <div class="box">
                                        <article class="media">
                                            <div class="media-left">
                                                <figure class="image is-64x64">
                                                    <img src="data:image/png;base64,@item.Avatar" alt="Image" />
                                                </figure>
                                            </div>
                                            <div class="media-content">
                                                <div class="content">
                                                    <p>
                                                        <a href="~/Profile/@item.UserId" target="_blank"><strong>@item.FirstName @item.LastName</strong></a>
                                                        <br /><small>@item.Email</small>
                                                        <br /><small>Skill update: @item.LastSkillUpdate.ToMonthsAgo()</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </article>
                                        <div class="tags" style="margin-top: 20px;">
                                            @foreach (var skill in item.Skills)
                                            {
                                                <span class="tag is-medium">@skill.Skill.Name (@skill.ProficiencyLevel)</span>
                                            }
                                        </div>
                                    </div>
                                </div>
                                }
                            </div>
                        }
                    }
                    else if (Model.Employees != null)
                    {
                        <h2 class="subtitle">Nobody matches the selected criteria</h2>
                    }
                </div>
            </div>
        </div>
    </section>
    @Html.Partial("~/Components/Footer.cshtml")
</div>
@if (Model.DataCollection != null)
{
    <script type="text/javascript">
    window.onload = () => {
    @foreach (var item in Model.DataCollection.Values.Select((v, i) => new { v, i }))
    {
        var data = item.v.Select(x => new { label = x.Split(':')[0], value = x.Split(':')[1] });
        @switch (Model.Analytics.DisplayType)
        {
            case DisplayType.PieChart:
                WriteLiteral($@"new Chartist.Pie('#chart-{item.i}', {{
                    labels:['{string.Join(join, data.Select(x => x.label))}'],
                    series: [{string.Join(',', data.Select(x => x.value))}]
                }});");
                break;
        }
    }
    };
    </script>
}
else if (Model.DataSingle != null)
{
    <script type="text/javascript">
    window.onload = () => {
        @switch (Model.Analytics.DisplayType)
        {
            case DisplayType.PieChart:
                WriteLiteral($@"new Chartist.Pie('#chart', {{
                    labels:['{string.Join(join, Model.DataSingle.Keys)}'],
                    series: [{string.Join(',', Model.DataSingle.Values)}]
                }});");
                break;
        }
    };
    </script>
}


<script type="text/javascript">
    var vue = new Vue({
        el: '#xskills',
        data: {
            query: '',
            userQuery: '',
            skillQuery: '',
            employees: [],
            selectedEmployees: [],
            selectedSkills: [ @Html.Raw(string.Join(", ", Model.Skills.Where(x=> selectedSkills.Contains(x.Key)).Select(x => $"{{ name: '{x.Value}', id: {x.Key} }}"))) ],
            timeout: null,
            loading: false,
            skills: [ @Html.Raw(string.Join(", ",  Model.Skills.Select(x => $"{{ name: '{x.Value}', id: {x.Key} }}"))) ],
            displayStates: { reports: 'reports', userProfiles: 'userProfiles', competences: 'competences' },
            display: '@display'
        },
        methods: {
            matchesQuery: function (name) {
                return name.toLowerCase().indexOf(this.query.toLowerCase()) !== -1;
            },
            employeeIsSelected: function (id) {
                for (e of this.selectedEmployees) {
                    if (e.id === id) return true;
                }

                return false;
            },
            selectEmployee: function (employee) {
                this.selectedEmployees.push(employee);
            },
            deselectEmployee: function (employee) {
                this.selectedEmployees.splice(this.selectedEmployees.indexOf(employee), 1);
            },
            selectSkill: function (skill) {
                this.selectedSkills.push(skill);
            },
            deselectSkill: function (skill) {
                this.selectedSkills.splice(this.selectedSkills.indexOf(skill), 1);
            }
        },
        computed: {
            ids: function () {
                return this.selectedEmployees.map(e => e.userId).join();
            },
            selectedSkillIds: function () {
                return this.selectedSkills.map(x => x.id).join();
            }
        },
        watch: {
            userQuery: function () {
                var t = this;
                clearTimeout(t.timeout);
                if (!t.userQuery || t.userQuery === '') {
                    t.employees = [];
                    return;
                }

                t.timeout = setTimeout(() => {
                    t.loading = true;
                    fetch('/api/Employees/Search/' + t.userQuery, { method: 'GET', credentials: 'include' })
                        .then(r => {
                            return r.json().then(d => {
                                t.loading = false;
                                if (r.ok) {
                                    t.employees = d;
                                }
                            });
                        });
                }, 500);
            }
        }
    });
</script>
