﻿@page "{statusCode:int?}"
@model XSkills.Web.Pages.ErrorModel

<div id="xskills">
    <section class="section has-text-centered">
        <div class="is-fullheight vertical-center">
            <h1 class="title">Oh, snap. That's kinda embarrassing...</h1>
            <div class="notification is-danger">@Model.ErrorMessage</div>
            <p>Here's a link leading <a href="/">home</a>.</p>
        </div>
    </section>
    @Html.Partial("~/Components/Footer.cshtml")
</div>
