﻿@page
@{
    string employeeId = User.Claims.Single(x => x.Type == "employeeId").Value;
}

<div id="xskills">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item">
                    <h1 class="title">XSkills</h1>
                </a>
                <button class="button navbar-burger" data-target="nav-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
            <div class="navbar-menu" id="nav-menu">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="field is-grouped">
                            <p class="control">
                                <a class="button is-white is-outlined" v-on:click="currentState = displayState.search">
                                    <span class="icon">
                                        <i class="fa fa-search"></i>
                                    </span>
                                    <span>Search</span>
                                </a>
                            </p>
                            <p class="control">
                                <a class="button is-white is-outlined" v-on:click="currentState = displayState.manage">
                                    <span class="icon">
                                        <i class="fa fa-cogs"></i>
                                    </span>
                                    <span>Manage</span>
                                </a>
                            </p>
                            <p class="control">
                                <a class="button is-white is-outlined" href="/Analytics">
                                    <span class="icon">
                                        <i class="fa fa-pie-chart"></i>
                                    </span>
                                    <span>Analytics</span>
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="navbar-item">
                        <div class="field is-grouped">
                            <p class="control">
                                <a class="button is-white is-outlined" v-on:click="selectEmployee('@employeeId')">
                                    <span class="icon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                    <span>Your skills</span>
                                </a>
                            </p>
                            <p class="control">
                                <a href="/Account/Edit" class="button is-white is-outlined">
                                    <span class="icon">
                                        <i class="fa fa-address-card-o"></i>
                                    </span>
                                    <span>Profile</span>
                                </a>
                            </p>
                            <p class="control">
                                <a href="/Account/LogOut" class="button is-white is-outlined">
                                    <span class="icon">
                                        <i class="fa fa-sign-out"></i>
                                    </span>
                                    <span>Log out</span>
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="navbar-item">
                        <p>Hello, @User.Identity.Name</p>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="is-fullheight has-text-centered vertical-center" v-if="currentState === displayState.loading">
        <p><i class="fa fa-cog fa-spin fa-5x fa-fw"></i></p>
    </div>
    <xskills-search v-on:employeeselected="selectEmployee" v-if="currentState === displayState.search"></xskills-search>
    <xskills-manage v-if="currentState === displayState.manage"></xskills-manage>
    <xskills-editemployee v-if="currentState === displayState.editEmployee" :employee="currentEmployee"></xskills-editemployee>
    @Html.Partial("~/Components/Footer.cshtml")
</div>
@Html.Partial("~/Components/Search.cshtml")
@Html.Partial("~/Components/Manage.cshtml")
@Html.Partial("~/Components/EditEmployee.cshtml")
<script>
    var v = new Vue({
        el: '#xskills',
        data: {
            currentEmployee: null,
            displayState: { search: 'search', manage: 'manage', editEmployee: 'editEmployee', loading: 'loading' },
            currentState: 'search'
        },
        methods: {
            selectEmployee: function (id) {
                var t = this;
                t.currentState = t.displayState.loading;
                fetch('/api/Employees/' + id, { method: 'GET', credentials: 'include' })
                    .then(r => {
                        if (r.ok) return r.json();
                        t.currentState = t.displayState.search;
                    }).then(d => {
                        if (d) {
                            for (s of d.skills) s.showTags = false;
                            t.currentEmployee = d;
                            t.currentState = t.displayState.editEmployee;
                        }
                    });
            }
        }
    });
</script>
