﻿@page "{id}"
@model XSkills.Web.Pages.ProfileModel
@section headAddons {
    <script type="text/javascript" src="~/js/marked.min.js"></script>
}

<div id="xskills">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item">
                    <h1 class="title">XSkills</h1>
                </a>
                <button class="button navbar-burger" data-target="nav-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
            <div class="navbar-menu" id="nav-menu">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="field is-grouped">
                            <p class="control">
                                <a class="button is-white is-outlined" href="/">
                                    <span class="icon">
                                        <i class="fa fa-arrow-circle-left"></i>
                                    </span>
                                    <span>Home</span>
                                </a>
                            </p>
                            <p class="control">
                                <a href="/Account/LogOut" class="button is-white is-outlined">
                                    <span class="icon">
                                        <i class="fa fa-sign-out"></i>
                                    </span>
                                    <span>Log out</span>
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="navbar-item">
                        <p>Hello, @User.Identity.Name</p>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    @Html.Partial("~/Partials/UserProfile.cshtml", (Model.CurrentUser, false))

    @Html.Partial("~/Components/Footer.cshtml")
</div>