﻿@page
@model XSkills.Web.Pages.ProjectsModel
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

<div id="xskills">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item">
                    <h1 class="title">XSkills</h1>
                </a>
                <button class="button navbar-burger" data-target="nav-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
            <div class="navbar-menu" id="nav-menu">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="field is-grouped">
                            <p class="control">
                                <a class="button is-white is-outlined" href="/">
                                    <span class="icon">
                                        <i class="fa fa-arrow-circle-left"></i>
                                    </span>
                                    <span>Home</span>
                                </a>
                            </p>
                            <p class="control">
                                <a href="/Account/Edit" class="button is-white is-outlined">
                                    <span class="icon">
                                        <i class="fa fa-address-card-o"></i>
                                    </span>
                                    <span>Profile</span>
                                </a>
                            </p>
                            <p class="control">
                                <a href="/Account/LogOut" class="button is-white is-outlined">
                                    <span class="icon">
                                        <i class="fa fa-sign-out"></i>
                                    </span>
                                    <span>Log out</span>
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="navbar-item">
                        <p>Hello, @User.Identity.Name</p>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <section class="section is-fullheight">
        <div class="container is-fullheight">
            <div class="columns is-fullheight">
                <div class="column is-3">
                    <h2 class="subtitle">Select project</h2>
                    <form method="post" asp-page-handler="Select">
                        <div class="field">
                            <div class="control">
                                <div class="select is-fullwidth">
                                    <select asp-for="SelectedProjectId">
                                        @foreach (var project in Model.Projects)
                                        {
                                            <option value="@project.Id">@project.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="field has-addons">
                            <p class="control is-fullwidth">
                                <button type="submit" class="button is-white is-outlined is-fullwidth">Show</button>
                            </p>
                            <p class="control is-fullwidth">
                                <a href="/Projects" class="button is-white is-outlined is-fullwidth">Clear</a>
                            </p>
                        </div>
                    </form>
                    @if (Model.CurrentProject.Id != 0)
                    {
                        <div class="field">
                            <label class="label">Project tags</label>
                            <div class="control">
                                <input class="input" type="text" v-model="tagQuery">
                            </div>
                        </div>
                        <div class="tags">
                            <span class="tag" v-for="t in tags" v-if="!t.isSelected && tagQuery && t.name.toLowerCase().indexOf(tagQuery.toLowerCase()) > -1" v-on:click="tag(t)">{{t.name}}</span>
                        </div>
                    }
                </div>
                <div class="column is-9 is-fullheight scroll-content">
                    <div class="columns is-fullheight">
                        <div class="column is-half">
                            <form asp-page-handler="Project" method="post">
                                <input type="hidden" asp-for="CurrentProject.Id"/>
                                <div class="field">
                                    <div class="control is-fullwidth">
                                        <label asp-for="CurrentProject.Name" class="label">Project name</label>
                                        <input v-model="projectName" class="input" type="text" asp-for="CurrentProject.Name" maxlength="30">
                                    </div>
                                    <div class="control is-fullwidth">
                                        <label asp-for="CurrentProject.Description" class="label">Project description</label>
                                        <textarea v-model="projectDescription" asp-for="CurrentProject.Description" class="textarea" rows="10"></textarea>
                                    </div>
                                </div>
                                <div class="field">
                                    <label asp-for="CurrentProject.LiveUrl" class="label">Live url</label>
                                    <input type="text" asp-for="CurrentProject.LiveUrl" class="input" v-model="liveUrl"/>
                                </div>
                                <label class="checkbox">
                                    <input type="checkbox" asp-for="CurrentProject.IsRetired"/>
                                    Retired project
                                </label>
                                <button type="submit" class="button is-white is-outlined is-fullwidth">@(Model.CurrentProject.Id == 0 ? "Create" : "Update")</button>
                                <p>Supports <a href="https://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown</a>.</p>
                                @foreach (var error in Model.CurrentProject.Errors)
                                {
                                    <div class="notification is-danger">@error</div>
                                }
                            </form>
                            <div class="tags" style="margin-top: 10px;">
                                <span class="tag is-medium" v-for="t in tags" v-if="t.isSelected">{{t.name}}<button class="delete" v-on:click="untag(t)"></button></span>
                            </div>
                        </div>
                        <div class="column is-half">
                            <h1 class="title">{{projectName}}</h1>
                            <a v-bind:href="liveUrl" v-if="liveUrl && liveUrl != ''">{{liveUrl}}</a>
                            <div v-html="markdown" class="content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @Html.Partial("~/Components/Footer.cshtml")
</div>
<script type="text/javascript" src="~/js/marked.min.js"></script>
<script type="text/javascript">
    var vue = new Vue({
        el: '#xskills',
        data: {
            projectName: '@Html.Raw(Model.CurrentProject?.Name?.Replace("'", "\\'"))',
            projectDescription: `@Html.Raw(Model.CurrentProject?.Description?.Replace("'", "\\'").Replace("`", "\\`"))`,
            liveUrl: '@Model.CurrentProject.LiveUrl',
            tagQuery: '',
            tags: [ @Html.Raw(string.Join(", ", Model.Tags.Select(x => $"{{ name: '{x.Name}', id: '{x.Id}', isSelected: {Model.CurrentProject.Tags?.Any(y => y.TagId == x.Id).ToString().ToLower() ?? "false"} }}"))) ]
        },
        computed: {
            markdown: function () {
                return marked(this.projectDescription, { sanitize: true });
            }
        },
        methods: {
            tag: function (tag) {
                var t = this;
                fetch('/api/Projects/Tag/@(Model.CurrentProject.Id)/' + tag.id, {
                    credentials: 'include',
                    method: 'GET'
                }).then(r => {
                    return r.json().then(d => {
                        if (r.ok) {
                            tag.isSelected = true;
                        }
                    });
                });
            },
            untag: function (tag) {
                var t = this;
                fetch('/api/Projects/Untag/@(Model.CurrentProject.Id)/' + tag.id, {
                    credentials: 'include',
                    method: 'GET'
                }).then(r => {
                    return r.json().then(d => {
                        if (r.ok) {
                            tag.isSelected = false;
                        }
                    });
                });
            }
        }
    });
</script>