﻿@page
@model XSkills.Web.Pages.UserReportModel
@section headAddons {
    <script type="text/javascript" src="~/js/marked.min.js"></script>
}

@section styleOverride {
    <link rel="stylesheet" href="~/css/bulma.min.css" />
}
<section class="section is-fullheight scroll-content">
    @foreach (var item in Model.Users)
    {
        Html.RenderPartial("~/Partials/UserProfile.cshtml", (item, true));
    }
</section>