html, body, #xskills {
    height: 100%;
    overflow: hidden;
}

#xskills {
    display: flex;
    flex-direction: column;
}
    nav, footer {
        flex: 0 0 auto;
    }

    #xskills > section {
        padding-top: 20px;
        padding-bottom: 0;
        flex: 1 1 auto;
        overflow: hidden;
    }

.login-tag {
    width: 110px;
}

.is-fullheight {
    height: 100%;
}

.is-fullwidth {
    width: 100%;
}

#xskills-search .search-results, .scroll-content {
    overflow-y: auto;
    overflow-x: hidden;
}

.scroll-content > * {
    padding-bottom: 30px;
}

.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ct-label {
    fill: white;
}

.profile .title, .profile .subtitle {
    margin-bottom: 0;
}